.social-icon:hover {
    background-color: #339c5e;
}

.social-icon {
    height: 2em;
    width: 2em;
}

.rainbow-icon {
    height:2em;
    width: 2em;
}

.rainbow-icon:hover {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

.card {
    padding: 15px;
 }

 .header {
    background-color: white;
    padding: 15px 15px 5px 15px;
}
.Welcome {
    text-align: center;
}

.img {
    width: 100%;
}

.szimg {
    width: 50%;
}