.social-icon:hover {
    background-color: #339c5e;
}

.social-icon {
    height: 2em;
    width: 2em;
}

.card {
    padding: 15px;
 }

 .header {
    background-color: white;
    padding: 15px 15px 5px 15px;
}
.Welcome {
    text-align: center;
}

.team6956members {
    position: absolute;
    height: 50%;
    width:50%;
    z-index: 10;
    align: center;
    margin-left: auto;
    margin-right: auto;
}
        
